@{
    ViewData["Title"] = "Home Page";
}

<br />
<form method="post" asp-action="SubmitAnket" asp-controller="Home">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="15000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/фронт.jpg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                       
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/5.png" alt="Visual Studio" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>
                        На нашем сайте вы всегда можете узнать последние новости рынка труда, а также изучить свежий обзор зарплат, с помощью которого легко оценить, на какие должности стоит нацелиться. Если вы уже определились, вакансии каких специальностей вас интересуют, вам остаётся только создать резюме и приступать к поиску работы мечты!
                    </p>
                </div>
            </div>


 
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Назад</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Вперед</span>
        </a>
    </div>


    
</form>
